/* style for the whole card class.  it has a faceup and a facedown. */
[class$='_card']
{  
  perspective: 500px;
  transition-duration: 0.5s;
  transition-property: transform;	
  transform: translate(0px, 0px);
  transition-timing-function: ease-in-out;
    
}
[class$='_card'],  [class$='_flipper'], [class$='_faceup'],[class$='_facedown']
{
  width: 150px;
  height: 225px;
  padding: 0px;
  margin: 0px;
  top: 0px;
  left: 0px;
  fill: transparent;
}

 .flip [class$='_flipper'] 
{
  transform-style: preserve-3d;
  position: relative;
  transform: rotateY(180deg);
 
}

[class$='_flipper']
{
  transition: 0.6s;
	transform-style: preserve-3d;
  position: relative;
  fill: transparent;
    
}


[class$='_faceup'], [class$='_facedown']
{
  backface-visibility: hidden;
  position: absolute;
  border: 1px solid black;
  border-radius: 0.5em;
  
}


[class$='_faceup']
{  
  /* for firefox 31 */
  transform: rotateY(180deg);
  left: -2px;

}

[class$='_facedown']
{  
  z-index: 2;
  transform: rotateY(0deg);  
}