
[class^="grid_"]
{
  
  background-color:transparent;
  height: 230px;  
  
  padding-left: 5px;
  padding-bottom: 5px;
  padding-right: 0px;
  
  display: flex;
  flex-flow: nowrap;
  
}

/*
    these are the divs that surrount the cards and this places them correctly inside the grid.
*/
[class^="innerdiv_"]
{
  margin-top: 4px;
  margin-right: 4px;
  margin-left: 3px;
  
}




.grid_deck
{  
  width: 161px;
  border: 1px solid black !important;
  border-radius: 5px;
}

.grid_deck > div
{
  position: absolute;
}


.grid_counted > div
{
  margin-left: -75px;
}

.grid_counted:nth-child(1)
{
  margin-left: 80px;
}

[class$='_card'],  [class$='_flipper'], [class$='_faceup'],[class$='_facedown']
{  
  margin: 0px; 
  padding: 0px;
   
}
[class$='_facedown']
{
  margin-left: -1px;
}