.cribDiv
{
  
  transition-duration: 0.5s;
  transition-property: transform;	
  transform: translate(0px, 0px);
  transition-timing-function: ease-in-out;
  width: 160px;
  padding: 0px;
  margin: 0px;
}