.LayoutRoot
{
    overflow-x: hidden;    
    opacity: 1;
    padding-top: 10px;
    margin-top: 0px;
    
    
}

[class^="DIV_"]
{
    position: absolute;
    margin-left:50px;
}

.DIV_cribbageBoard
{
    position: absolute;
    margin-left: 180px;
}

.DIV_crib
{
    background: rgb(102, 39, 39);    
    width: 170px;
    vertical-align: top;
    margin-top:  305px;
    transition-duration: 0.5s;
    transition-property: transform;	
    transform: translate(0px, 0px);
    transition-timing-function: ease-in-out;
    transition-duration: 0.5s;
    transition-property: transform;	
    z-index: 2;

}

[class^="CARDDIV_"]
{
    position: absolute;
    margin-left: 1022px;
    margin-top: 550px;
    z-index: 10;
    
}

.DIV_computer, .DIV_player, .DIV_counted, .DIV_deck
{
        
    width: 950px;
    min-width: 950px;
    border: 1px solid black;
    border-radius: 5px;
    background: rgb(102, 39, 39);
    z-index: 1;

}

.DIV_computer
{
    margin-top: 305px;
    margin-left: 230px;    
    
}

.DIV_counted
{
    width: 725px;
    min-width: 725px;    
    margin-top: 545px;
    margin-left: 230px;
}

.DIV_player
{
    
    margin-top: 785px;
    margin-left: 230px;
}

.DIV_deck
{
    
    
    margin-top: 545px;
    margin-left: 1013px;
    min-width: 168px;
    width: 168px;
    z-index: 3;
}

.cribbageBoard
{
    width: 950px;    
    height: 300px;
    background: wheat;
    opacity: 1.0;
    margin-left: 100px;
    padding: 0px;
    overflow: hidden;
    border-radius: 10px;
    margin-left: 50px;    
}



