.GameTable
{
    table-layout: fixed;    
    overflow-x: hidden;
    word-wrap:break-word;
    opacity: 1;
    margin-top: 0px;
    width: 1450px;
    
    border: 2px solid black !important;
    background-image: url("./images/Cards/BackOfCard.svg");
    border-radius: 10px;
}

.tableBody
{
    vertical-align: middle;
    align-items: center;
    
    border: 1px transparent dashed;
}


.emptyColumn2
{
    width: 0px;
    background: yellow;
}

.cribCell
{
    vertical-align: top;
    margin: 0px;
    padding-right: 8px;        
    background-color: transparent;    
    overflow: hidden;
    width: 154px;
     
}

.computerCell, .playerCell
{
    
    background-color: transparent;
    align-content: initial;
    height: 225px;    
    overflow: hidden;
    border: 1px black solid;
    border-radius: 20px;
}

.second_row
{
    display: flex;  
    background: transparent;
}
.countedCell
{
    display: flex;
    
}

.divCounted
{    
    display: flex;
    overflow: initial;
    border-radius: 20px;
    background: transparent;
    width: 795px;
    min-width: 795px;
    max-width: 795px;
    border: 1px black solid;
    margin-right: 2px;
    
}

.divDeck
{
    overflow: initial;
    display: flex;
    border-radius: 20px;
    margin-left: 0px;    
    padding-right: 5px;
    background: transparent;
    width:154px;
    min-width: 154px;
    max-width: 154px;
    border: 1px black solid;
    
}



[class^='blank_']
{
    background: transparent;
    padding: 0px;
    margin: 0px;
    opacity: .25;
    overflow: hidden;
}

.cribbageBoard
{
    width: 250px;    
    background: wheat;
    opacity: 1.0;
    margin: 0px;
    padding: 1px;
    overflow: hidden;
    border-radius: 10px;
    
}


.control_cell
{
    background: transparent;
    height: 400px;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}





.emptyColumn1
{
    width: 50px; /* gives room for the burger menu */
    background: rgb(64, 64, 64);
    margin:0px;
    padding:0px;
    border-radius: 10px;
}
.bm-burger-button 
{
    position: fixed;
    width: 36px;
    height: 30px;
    left: 10px;
    top: 20px;
   background: transparent;
}
.bm-burger-bars 
{
    background:white;
    opacity: 1;
}

.bm-cross-button 
{
    height: 24px;
    width: 24px;
    position: fixed;
    align-self: flex-end;
    left: 270px; /* since the width is 300 */
    top: 0px;
    background: green;
}

.bm-cross {
    background: #bdc3c7;
  }


.bm-overlay 
{
    background: rgba(0, 0, 0, 0.3);
}

  /* General sidebar styles */
.bm-menu 
{
    background: rgba(64,64,64,1);
    padding: 0;
    font-size: 1.15em;
    
  }