body {
  transform:scale(1.0);
  transform-origin: top left;
  margin: 0px;
  padding: 10px;
  font-family: 'Verdana';
  background-image: url(./images/Cards/BackOfCard.svg) ;
  background-clip: content-box;
  
  
}

@keyframes example {
  from {transform: translate(0px, 0px)};
  to {transform: translate(0px, 328px)};
  
}

.cribSvg
{
  background-color: gray;
  transition-duration: 0.5s;
  transition-property: all;
  transform:translate(0px,0px);
  transition-timing-function: linear;
  font-family: 'Courier New';  

}

.cribCard
{
  transition-duration: 0.5s;
  transition-property: transform;
  transition-timing-function: ease-in-out;
  padding: 2px;
  background-color:black;
  border-radius: 5%;
  
}

.cardGrid
{
  border-radius: 1em;
  background-color:darkolivegreen;
  border-color: black;
  border-width: 2px;
  padding: 2px;
  transform:scale(0.2);
}
/* style for the whole card class.  it has a faceup and a facedown. */
*[class$='_card']
{  
  transition-duration: 0.5s;
  transition-property: transform;
  transition-timing-function: ease-in-out;
  width: 150px;
  height: 225px;
  border: 1px solid black;
  border-radius: 5px;
  fill: black;
  padding: 0px;
  margin: 0px;
}

*[class$='_faceup']
{  
  width: 150px;
  height: 225px;
  border: 1px solid black;
  border-radius: 5px;
  fill: black;
}

*[class$='_facedown']
{  
  transform:translate(-1px, -231px); /* these aren't 0,225 because of some funky div thing */
  width: 150px;
  height: 225px;
  border: 1px solid black;
  border-radius: 5px;
  fill: black;
  opacity: 1;
}

.radioButton
{
  font-family: 'Verdana';
  
}
.optionForm
{
  width: 100%;
  height: 40px;
  background-color: gray;
}

.cribbagePage
{
  display: grid;
  grid-template-columns: 154px 929px 400px;
  grid-template-rows: 685px 400px;
  
  
}

.firstCol
{
  grid-column: 1;
  grid-row: 1;    
  
}

.secondCol
{
  padding-left: 5px;
  grid-column: 2;
  grid-row: 1;
  
}

.thirdCol
{
  grid-row: 1;
  grid-column: 3;
  padding-left: 5px;
  
}


.secondRow
{
  padding-top: 5px;
  grid-column: 1;
  grid-row: 2;
  
  
}

