body {
  margin: 0px;
  padding: 10px;
  font-family: 'Verdana';
  background-image: url(./images/BackOfCard.svg) ;
  background-clip: content-box;
  
}

@keyframes example {
  from {transform: translate(0px, 0px)};
  to {transform: translate(0px, 328px)};
  
}

.cribSvg
{
  
  transition-duration: 0.5s;
  transition-property: all;
  transform:translate(0px,0px);
  transition-timing-function: linear;
  font-family: 'Courier New';  

}

.cribCard
{
  transition-duration: 0.5s;
  transition-property: all;
  transition-timing-function: ease-in-out;
  border-bottom-left-radius: 15; 
  border-bottom-right-radius: 15; 

}

.radioButton
{
  font-family: 'Verdana';
  
}
.optionForm
{
  width: 150px;
  height: 40px;
  background-color: gray;
}

.cribbagePage
{
  display: grid;
  grid-template-columns: 127px 763px 400px;
  grid-template-rows: 535px 400px;
}

.firstCol
{
  grid-column: 1;
  grid-row: 1;    
  
}

.secondCol
{
  padding-left: 5px;
  grid-column: 2;
  grid-row: 1;
  
}

.thirdCol
{
  grid-row: 1;
  grid-column: 3;
  padding-left: 5px;
  
}


.secondRow
{
  padding-top: 5px;
  grid-column: 1;
  grid-row: 2;
  
  
}

