body {
  transform:scale(1.0);
  transform-origin: top left;
  margin: 0px;
  overflow: hidden;
  padding: 1px;
  font-family: 'Verdana';
  background-image: url("./images/game_background.svg");
  border: 0px black solid;
  width: 1484px;
  height: 955px;
  
}



.radioButton
{
  font-family: 'Verdana';
  
}
.optionForm
{
  width: 100%;
  height: 40px;
  background-color: gray;
}



